header{
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    width: 90%;
    z-index: $z-index-header;

    .header-logo{
        display: flex;
        width: max-content;

        .header-logo-image svg{
            height: 3rem;
            width: 3rem;
    
            path{
                fill:$secondary-color;
            }
        }

        .header-logo-title{
            margin-left: 1rem;

            h1{
                text-align: left;
            }
        }
    }

    .header-menu{
        margin-left: auto;
        width: max-content;

        ul li{
            color:hsl(0, 0%, 100%);
            cursor: pointer;
            display: inline;
            font-size: 1.5rem;
            margin: 0 0.5rem;
        }
    }
}


