.overlay{
    background-color: #000000;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-overlay;

    &.active{
        cursor: pointer;
        display: block;
        opacity: 0.5;
    }
}