.one-column{

    margin: 5vh 0 10vh 0;
    width: 100%;

    .column{
        width: 100%;
    }
}

.two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .column{
        width: 48%;
    }
}

.three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .column{
        width: 32%;
    }
}