.directory-mobile{

    float: left;
    height: 60vh;
    width: 100%;

    .directory-mobile-container{

        background-color: $dark-grey;
        float: left;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;

        .directory-mobile-title{

            width: 100%;

            h4{
                color: $white;
                font-size: 1.5em;
                text-align: center;
            }
        }

        .directory-mobile-container-list{

            float: left;
            margin: 0;
            padding: 0 3%;
            width: 50%;
    
            .directory-mobile-container-list-item{
                border-radius: 50%;
                width: 100%;
            }

            .directory-mobile-container-list-item:hover img{
                opacity: 0.7;
            }

            .directory-mobile-container-list-item
            h2{
                color: $white;
                font-size: 0.9em;
                font-weight: 400;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .back-button{
            border-right: 2em solid $white;
            border-top: 2em solid transparent;
            border-bottom: 2em solid transparent;
            float: left;
            height: 0; 
            margin-top: 10%;
            width: 25%; 
        }
            
        .next-button {
            border-left: 2em solid $white;
            border-top: 2em solid transparent;
            border-bottom: 2em solid transparent;
            float: left;
            height: 0; 
            margin-top: 10%;
            width: 25%;
        }
    }
}
