.error-container{
    display:none;
    opacity: 0;
    transition: opacity 1s;
}

.error-container.active{
    background-color: transparent;
    border-radius: 0.2em;
    display: block;
    opacity: 1;
    position: relative;

    .close-errors-button{
        cursor: pointer;
        position: absolute;
        right: 0;

        svg{
            height: 2em;
            width: 2em;

            path{
                fill: $white;
            }
        }
    }

    .errors{
        padding: 1em 0.5em;

        li{
            color: $white;
            font-family: $font-stack;
            padding: 0.1em 0;
            list-style: circle;
        }
    }
}
