.payment-form-mobile{

    display: none;
    position: absolute;
    transition: height 2s ease-out;
    height: 100vh;
    width: 100%;
    z-index: 2000;

    &.visible{
        display: initial;
        @include translateYInScreen(0, 0.5s)
    }

    &.hidden{
        display: initial;
        @include translateYOutScreen(0, 0.5s);
    }

    .close-button{
        width: 15%;
        height: 10%;
        opacity: 1;
        position: absolute;
        right: 5%;
        top: 3%;;
        transition: all 600ms;            

        .close-x{
            stroke: $dark-grey;
            fill: transparent;
            stroke-linecap: none;
            stroke-width: 3;
        }

        &.purple{

            .close-x{
                stroke: $white;
            }
        }
    }

    .form-mobile-container{

        height: 100%;
        
        &.blue{
            background-color: $blue;
        }
    
        &.red{
            background-color: $red;
        }
    
        &.yellow{
            background-color: $yellow;
        }
    
        &.purple{
            background-color: $purple;
        }

        form{
            top: 20%;
            left: $center;
            position: absolute;
            width: 100% - $center*2;
        }

        .form-group{
            height: 1.75em;
            margin-bottom: 8%;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        input{

            border: none;
            -webkit-border-radius: 10em;
            -moz-border-radius: 10em;
            border-radius: 10em;
            height: 100%;

            &::placeholder{
                font-weight: 400;
                text-align: center;
            }

            &.input-small{
                width: $input-small;
            }

            &.input-medium{
                width: $input-medium;
            }

            &.input-big{
                width: $input-big;
                padding: 0 20% 0 20%;

            }

            &.center{
                margin-left: 25%;
            }
        }

        input[type="text"]{
            font-size: 1em;
            font-weight: 600;
            text-align: center;
        }

        .payment-button{
            background-color: $white;
            font-size: 1em;
            font-weight: 600;
        }

        .bank-transfer-message,
        .cash-message{

            display: none;

            &.fadeIn{
                color: $white;
                font-weight: 500;
                text-align: justify;
                @include fadeIn(0, 0.3s);
                display: flex;
            }
        }

        .form-submit-button{
            background-color: $form-submit-button;
            color: $white;
            font-size: 0.9em;
            font-weight: 600;
            margin-top: 10%;

            &:disabled{
                background-color: $form-submit-button-disabled;
            }
        }


    }
    
}