.shop-form{

    height: 100vh;
    width: 100%;
    background: $purple;

    &.multiproduct-form{
        height: 130vh;
    }

    &.red{
        background: $red;
    }

    &.purple{
        background: $purple;
    }

    &.yellow{
        background: $yellow;

        .shop-form-container .cart-message{
            color: $dark-grey;
        }

        .shop-form-container .products-header{

            border-bottom: 1px solid $dark-grey;

            .products-header-title h4{
                color: $dark-grey;
            }

            .products-header-price h5,
            .products-header-quantity h5{
               color: $dark-grey;
            }
        }

        .shop-form-container .products {

            .product{
                border-bottom: 1px solid $dark-grey;
            }

            .product .product-title h4{
                color: $dark-grey;
            }

            .product .product-price h5,
            .product .product-quantity h5{
                color: $dark-grey;
            }

            .product .product-quantity svg path{
                fill: $dark-grey; 
            }
        }

        .shop-form-container .products-footer .total-price h3{
            color: $dark-grey;
        }

        .shop-form-container .cart-footer .checkout-button{
            
            border: 0.15em solid $dark-grey;

            h3{
                color: $dark-grey;
            }

            &:hover{
                background-color: $red;

                h3{
                    color: $white;
                }
            }
        }

        .shop-form-container .bank-transfer-message,
        .shop-form-container .card-message{
            &.fadeIn{
                color: $dark-grey;
            }
        }

        .shop-form-container .payment-submit-button{

            border: 0.15em solid $dark-grey;

            &:hover{
                background-color: $red;

                h3{
                    color: $white;
                }
            }

            h3{
                color: $dark-grey;
            }
        }
    }

    &.blue{
        background: $blue;
    }

    .shop-form-container{

        height: 100vh;
        padding: 30% 5% 0 5%;
        width: 100%;

        &.multiproduct-form-container{
            padding: 25% 5% 0 5%;
        }

        .cart-message{
            color: white;
            margin: 25vh 2em;
            font-size: 2em;
            text-align: center;
        }

       .products-header{
            border-bottom: 1px solid $white;
            display: flex;
            justify-content: space-between;

           .products-header-title{
               
               width: 60%;

               h4{
                    color: $white;
                    font-size: 1.5em;
                    font-weight: 400; 
                    margin: 0;
               }
           }

           .products-header-price,
           .products-header-quantity{
              
               margin: auto;
               text-align: center;
               width: 20%;

               h5{
                    color: $white;
                    font-size: 1.2em;
                    font-weight: 400;
                    font-family: $font-stack;
                    margin: 0;
               }
           }
       }

        .products{

            .product{

                border-bottom: 1px solid $white;
                display: flex;
                justify-content: space-between;
                padding: 5% 0;

                .product-title{
                   
                    width: 60%;

                    h4{
                        color: $white;
                        font-size: 1.2em;
                        font-weight: 400;
                        margin: 0;
                    }
                }
    
                .product-price,
                .product-quantity{
                   
                    display: flex;
                    justify-content: space-around;
                    text-align: center;
                    width: 20%;

                    h5{
                        color: $white;
                        font-size: 1.1em;
                        font-weight: 400;
                        font-family: $font-stack;
                        margin: 0;
                   }

                    svg{
                        cursor: pointer;
                        height: 1.5em;
                        width: 1.5em;

                        path{
                            fill: $white; 
                        }
                    }
                }
            }
        }

        .products-footer{

            display: flex;
            justify-content: space-between;

            .total-price{
                
                padding: 2em 1em;
                text-align: center;

                h3{
                    color: $white;
                    font-size: 1.5em;
                }
            }
        }

        .cart-footer{

            .checkout-button,
            .back-button{

                background-color: transparent;
                border: 0.15em solid $white;
                border-radius: 1em;
                display: block;
                margin: 1em auto;
                padding: 0.2em 1em;
                width: max-content;
                text-align: center;

                &:hover{
                    background-color: $red;
                }

                h3{
                    color: $white;
                    font-weight: 500;
                    margin: 0.1em;
                    text-transform: uppercase;
                }
            }
        }

        .multiproducts-header{

            display: block;
            justify-content: space-between;
            margin-bottom: 1em;

           .products-header-title{
               
               width: 100%;

               h4{
                    color: $white;
                    font-size: 1.5em;
                    font-weight: 400; 
                    margin: 0;
                    text-align: center;
               }
           }

           .products-header-subtitle{
               
                padding: 1em 0;
                width: 100%;

                h4{
                    color: $white;
                    font-size: 1em;
                    font-weight: 400; 
                    margin: 0;
                    text-align: center;
                }
            }
        }

        .multiproducts{

            .product{

                display: flex;
                justify-content: space-between;
                padding: 0.5% 0;

                .product-title{
                   
                    width: 60%;

                    h4{
                        color: $white;
                        font-size: 1.2em;
                        font-weight: 400;
                        margin: 0;
                    }
                }
    
                .product-quantity{
                   
                    display: flex;
                    justify-content: space-around;
                    text-align: center;
                    width: 30%;

                    h5{
                        color: $white;
                        font-size: 1.1em;
                        font-weight: 400;
                        font-family: $font-stack;
                        margin: 0;
                   }

                    svg{
                        cursor: pointer;
                        height: 1.5em;
                        width: 1.5em;

                        path{
                            fill: $white; 
                        }
                    }
                }
            }
        }

        .multiproducts-checkbox{

            margin: 1.5em 0;

            h4{
                color: $white;
                display: inline;
                font-weight: 400;
            }

            input{
                display: inline;
                height: 1em;
                width: 2.5em;
            }
        }

        .multiproducts-footer{

            display: block;
            justify-content: space-between;

            .total-price{
                
                text-align: center;

                h3{
                    color: $white;
                    font-size: 1.5em;
                    margin: 0;
                    margin-bottom: 0.5em;
                }

                span{
                    color: $white;
                    font-family: Ubuntu,sans-serif;
                    font-weight: 400;
                    text-decoration: none;
                }
            }

            .multiadd-button{

                background-color: transparent;
                border: 0.15em solid $white;
                border-radius: 1em;
                display: block;
                height: 3em;
                margin: 1em auto;
                padding: 0.2em 1em;
                width: max-content;
                text-align: center;

                &:hover{
                    background-color: $red;
                }

                h3{
                    color: $white;
                    font-weight: 500;
                    font-size: 1.2em;
                    margin: 0.1em;
                    text-transform: uppercase;
                }
            }
        }

        form{
            padding-top: 15%;
            display: block;
            margin: auto;
            width: 70%;
        }

        .form-group{
            height: 1.75em;
            margin-bottom: 8%;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        input{

            border: none;
            -webkit-border-radius: 10em;
            -moz-border-radius: 10em;
            border-radius: 10em;
            height: 100%;
            outline: none;

            &.alert-error{
                border: 3px solid $black; 
            }

            &::placeholder{
                font-weight: 400;
                text-align: center;
            }

            &.input-small{
                width: $input-small;
            }

            &.input-medium{
                width: $input-medium;
            }

            &.input-big{
                width: $input-big;
                padding: 0 20% 0 20%;

            }

            &.center{
                margin-left: 25%;
            }
        }

        input[type="text"]{
            font-size: 1em;
            font-weight: 600;
            text-align: center;
        }

        .payment-button-container{

            position: relative;

            &.button-small{
                width: $input-small;
            }
    
            &.button-medium{
                width: $input-medium;
            }

            .payment-button{
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                margin: 0;
                cursor: pointer;
                outline: none;
            }

            .payment-button-label{
                background-color: $white;
                border: none;
                -webkit-border-radius: 10em;
                -moz-border-radius: 10em;
                border-radius: 10em;
                font-size: 1em;
                font-weight: 600;
                height: 100%;
                outline: none;
                padding: 2%;
                text-align: center;
                width: 100%;
            }

            input[type="radio"]:checked ~ .payment-button-label label{
                color: $red;
            }
        }

        .bank-transfer-message,
        .card-message{

            display: none;

            &.fadeIn{
                color: $white;
                font-weight: 500;
                margin: 2em 0;
                text-align: justify;
                @include fadeIn(0, 0.3s);
                display: flex;
            }
        }

        &.yellow .bank-transfer-message,
        &.yellow .card-message{
            &.fadeIn{
                color: $dark-grey;
            }
        }

        .payment-submit-button{

            background-color: transparent;
            border: 0.15em solid white;
            border-radius: 1em;
            cursor: pointer;
            display: block;
            margin: auto;
            padding: 0.2em 1em;
            width: max-content;
            text-align: center;

            h3{
                color: $white;
                font-weight: 500;
                margin: 0.1em;
                text-transform: uppercase;
            }

            &:hover{
                background-color: $red;
            }
        }
    }
    
}