.slider-mobile{
    
    height: 95vh;
    position: relative;
    z-index: 1000;

    img{
        height: 100vh;
        width: 100%;
        opacity: 0.4;
        position: absolute;
        z-index: $z-index-slider-img;
    }

    .filter{
        height: 100vh;
        background-color: rgb(0, 0, 0);
        width: 100%;
        z-index: $z-index-slider-filter;
    }

    .slider-mobile-title{
        color: $white;
        left: $center;
        top: 20vh;
        position: absolute;
        width: 70%;
        z-index: $z-index-slider-title;

        h1{
            font-size: 2.7em
        }

        @include respond-to('xs'){

            top: 15vh;

            h1{
                font-size: 2.2em
            }
        }
    }

    .slider-mobile-description{
        color: $white;
        left: $center;
        position: absolute;
        top: 47vh;
        width: 70%;
        z-index: $z-index-slider-description;

        h2{
            font-size: 1.3em;
            font-weight: 500;
        }

        @include respond-to('md'){
            
            top: 25vh;

            h2{
                font-size: 1.3em;
            }
        }

        @include respond-to('xs'){
            
            top: 35vh;

            h2{
                font-size: 1.1em;
            }
        }
    }

    .slider-mobile-button{
        background-color: transparent;
        border: solid 0.2em $white;
        left: 12%;
        margin: 0 auto;
        opacity: 0;
        padding: 0.2em;
        top: 75vh;
        width: max-content;
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;
        position: absolute;
        z-index: $z-index-slider-button;
        @include fadeIn(0, 6s);

        h3 {
            color: $white;
            font-weight: 600;
            margin: 0.5em;
            opacity: 1;
            text-align: center;
        }
        
        &:hover{
            background-color: $red;
        }
    }
}