.slider{
    height: 80vh;
    position: relative;
    width: 100%;

    .slider-image{
        max-height: 80vh;
        overflow: hidden;
        position: absolute;
        z-index: $z-index-slider-image;
        width: 100%;
    }

    .slider-title{
        background-color: hsla(0, 0%, 0%, 0.5);
        padding: 1.5rem 1rem;
        position: absolute;
        left: 15%;
        top: 5vh;
        z-index: $z-index-slider-elements;
    }
    
    .slider-button{
        position: absolute;
        left: 15%;
        top: 25vh;
        z-index: $z-index-slider-elements;
    }
}



