.tabs{

    padding: 5% 0;
    width: 100%;

    &.blue{
        background-color: $blue-highlight;

        .tabs-menu{
            background-color: $blue;
        }

        .menu-item-text{
            background-color: $blue-highlight;
        }
    }

    &.purple{
        background-color: $purple;

        .tabs-menu{
            background-color: $purple-highlight;
        }

        .menu-item-text{
            background-color:  $purple;
        }
    }

    .tabs-menu{

        padding: 2% 4%;
        color: $white;
        font-family: $font-stack;
        display: block;
        margin: auto;

        .menu-item
        h3{
            color: $white;
            font-size: 1.1em;
            font-weight: 500;
        }
    }

    .menu-item-text{
        display: none;
        color: white;
        padding: 7% 4%;
        text-align: center;
        width: 100%;


        &.selected{
            @include fadeIn(0, 1s);
            display: block;
        }

        ul{
            padding: 0;
        }

        li{
            color: $white;
            font-family: $font-stack;
            font-size: 1em;
            font-weight: 400;
            margin: 0;
            margin-top: 2%;
            margin-bottom: 5%;

            @include respond-to('xs'){
                font-size: 0.6em;
            }
        }

        li::before {
            color: $white;        
            content: "\2022";               
            font-size: 1em;                
            padding-right: 0.75em; 
            position: relative;
            top: 0em;               
        }
        
        p{
            color: white;
            font-family: $font-stack;
            font-size: 1em;
            font-weight: 400;
            line-height: 1.2;
            margin: 0;

            @include respond-to('xs'){
                font-size: 0.6em;
            }

            strong{
                text-decoration: underline;
            }
        }
    }
}