.textual-banner{
    display: flex;
    margin: 3rem auto;
    width: 90%;

    .textual-banner-description{
        width: 100%;

        p{
            font-size: 1.2rem;
            margin-bottom: 1rem;
            text-align: justify;
        }
    }

    .textual-banner-image{
        width: 40%;

        model-viewer{
            height: 10rem;
            width: 20rem;
        }
    }
}
