.product{
    margin: 4rem auto;
    width: 90%;

    .product-image-gallery{
        margin: 2rem 10%;
        width: 80%;

        .product-image-gallery-element{
            cursor: pointer;
        }
    }

    .product-info-title{
        margin-bottom: 1rem;
    }

    .product-info-price{
        margin-bottom: 1rem;
    }

    .product-info-description{
        margin-bottom: 1rem;

        p{
            margin-bottom: 0.5rem;
            text-align: justify;
        }
    }

    .product-info-plus-minus{
        display: flex;
        margin: 3rem 0;

        .product-info-plus-minus-title{
            margin-right: 3rem;

            span{
                color: hsl(0, 0%, 100%);
                font-weight: 600;
            }
        }
    }
}