/*====================
======Typography======
======================*/

// @font-face {
//     font-family: 'Ubuntu';
//     font-display: auto;
//     src: url('/front/fonts/Ubuntu-Regular.ttf') format('ttf');
// }

// @font-face {
//     font-family: 'Ubuntu';
//     font-display: auto;
//     font-weight: bold;
//     src: url('/front/fonts/Ubuntu-Bold.ttf') format('ttf');
// }

// @font-face {
//     font-family: 'Ubuntu Condensed';
//     font-display: auto;
//     src: url('/front/fonts/Ubuntu-Light.ttf') format('ttf');
// }

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
}

h2 {
    font-size: 3em;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    font-weight: 600;
    text-decoration: none;

    &:hover, &:focus {
        outline: none;
        text-decoration: none;
        outline-offset: 0;
    }
}

