.posts{

    background-color: $yellow;
    min-height: 100vh;
    padding-top: 4em;

    .posts-title{

        float: left;
        padding: 9% 7%;
        width: 100%;

        h2{
            color: white;
            display: inline;
            font-size: 2em;
            font-weight: 400;
            margin: 0;
            text-align: left;

            @include respond-to('xs'){
                font-size: 1.5em;
            }
        }

        h3{
            color: white;
            font-size: 1.2em;
            font-style: italic;
            font-weight: 400;
            margin: 5% 0;
            text-align: left;

            @include respond-to('xs'){
                font-size: 1em;
            }
        }
    }

    .project-archive{
        padding: 2% 7%;
    }
}