.post-mobile{

    background-color: $yellow;
    border-top: 6em solid $yellow;
    float: left;
    position: relative;
    width: 100%;

    .post-mobile-title{

        float: left;
        padding: 3% 5% 6% 5%;

        h2{
            color: $dark-grey;
            font-size: 2.5em;
            margin: 0;
            text-transform: uppercase;
            text-align: center;

            @include respond-to('xs'){
                font-size: 1.5em;
            }
        }
    }

    .column-text{
        margin: 0;
        padding: 2% 7% 2% 7%;

        p{
            font-family: $font-stack;
            font-size: 1.2em;

            @include respond-to('xs'){
                font-size: 0.6em;
            }
        }
    }

    .column-image{
        margin: 0;
        padding: 0 5%;
    }

    .column-blockquote{
        
        margin: 0;

        blockquote {
            background-color: $dark-grey;
            color: $white;
            font-size: 1.5em;
            font-weight: 600;
            font-style: italic;
            padding: 5% 7%;
            quotes: "\201C""\201D""\2018""\2019";
            margin: 0;
        }

        blockquote:before {
            color: $white;
            content: open-quote;
            font-size: 1em;
            line-height: 0.1em;
        }

        blockquote:after {
            color: $white;
            content: close-quote;
            font-size: 1em;
            line-height: 0.1em;
        }

        blockquote p {
            display: inline;
        }
    }
}