/*====================
========Header========
======================*/

// header{
// 	height: 0;
// 	padding-top: 0;
// }

// .header-mobile{
// 	padding-top: 1em;
// 	width: 100%;
// 	z-index: $z-index-header-fixed;

// 	&.hidden{
// 		@include fadeOut(0,1s);
// 	}
// }

// .header-mobile .header-mobile-bar{
// 	height: 3.5em;
// 	overflow: hidden;
// 	padding-top: 1em;
// 	width: 100%;
// 	z-index: $z-index-header-bar;
// }

// .header-mobile .logo{
	
// 	position: absolute;
// 	left: 40%;
// 	top: 3vh;
// 	width: 20%;
// 	z-index: $z-index-logo;

// 	&.hidden{
// 		@include fadeOut(0,1s);
// 	}

// 	img{
// 		height: 10vh;
// 	}
// }

.header-menu-mobile{

	display: flex;
	justify-content: space-between;
	padding: 1em 1.5em 0.5em 1.5em;
    position: fixed;
    z-index: 4000;
    width: 100%;

	&.blue{
		background-color: $blue;
	}

	&.yellow{
		background-color: $yellow;
	}

	&.purple{
		background-color: $purple;
	}

	&.transparent{
		background-color: transparent;
	}

	&.hidden{
		@include fadeOut(0,1s);
	}

	&.blur{
		background-color: rgba(73, 73, 73, 0.8);
	}

	.logo{
	
		&.hidden{
			@include fadeOut(0,1s);
		}
	
		img{
			height: 6.5vh;

			@include respond-to('xs'){
				height: 8vh;
			}
		}
	}

	// Variables Menu Icon
	$menu-icon-line-height: 4px;
	$menu-icon-line-space: 14px;
	$menu-icon-line-offsetY: $menu-icon-line-height + $menu-icon-line-space;
	$menu-icon-height: (3*$menu-icon-line-height) + (2*$menu-icon-line-space);
	$cubic-bezier-in: cubic-bezier(0.30,1,0.70,1);
	$cubic-bezier-out: cubic-bezier(1,0.70,1,0.30);

	.menu-icon {

		width: 10%;
		height: 30px;
		margin-top: 0.5em;

		.line-1,
		.line-2, 
		.line-3 {
		height: $menu-icon-line-height;
		width: 100%;
		background-color: #fff;
		border-radius: 3px;
		transition: background-color .2s ease-in-out;
		}

		.line-1 {
			animation: animate-line-1-rev .7s ease-in-out;
		}

		.line-2 {
			margin: 10px 0;
			animation: animate-line-2-rev .7s ease-in-out;
		}

		.line-3 {
			animation: animate-line-3-rev .7s ease-in-out;
		}

		&:hover {

			.line-1,
			.line-2, 
			.line-3 {
				background-color: #fff;
			}
		}

		&.active {

			margin-top: 0; 

			.line-1,
			.line-2, 
			.line-3 {
				background-color: $dark-grey;
			}

			.line-1 {
				animation: animate-line-1 .7s $cubic-bezier-in forwards;
			}
				
			.line-2 {
				animation: animate-line-2 .7s $cubic-bezier-in forwards;
				margin: 14px 0;
			}
				
			.line-3 {
				animation: animate-line-3 .7s $cubic-bezier-in forwards;
			}
		}
	}

	.no-animation {
		-webkit-animation: none !important;
			animation: none !important; 
	}

	@keyframes animate-line-1 {
		0% {
			transform: translate3d(0, 0, 0) rotate(0deg);
		}

		50% {
			transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(0);
		}

		100% {
			transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(45deg);
		}
	}

	@keyframes animate-line-2 {
		0% {
			transform: scale(1);
			opacity: 1;
		}
		100% {
			transform: scale(0);
			opacity: 0;
		}
	}
		
	@keyframes animate-line-3 {
		0% {
			transform: translate3d(0, 0, 0) rotate(0deg);
		}
		50% {
			transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(0);
		}

		100% {
			transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(135deg);
		}
	}
		
	@keyframes animate-line-1-rev {
		0% {
			transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(45deg);
		}
		50% {
			transform: translate3d(0, $menu-icon-line-offsetY, 0) rotate(0);
		}

		100% {
			transform: translate3d(0, 0, 0) rotate(0deg);
		}
	}
		
	@keyframes animate-line-2-rev {
		0% {
			transform: scale(0);
			opacity: 0;
		}
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}

	@keyframes animate-line-3-rev {
		0% {
			transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(135deg);
		}
		50% {
			transform: translate3d(0, -$menu-icon-line-offsetY, 0) rotate(0);
		}

		100% {
			transform: translate3d(0, 0, 0) rotate(0deg);
		}
	}
}

