.admin-login{

    min-height: 100vh;
    position: absolute;
    top: 0;
    width: 70%;
    z-index: 5000;

    &.red{
        background-color: $red;
    }

    &.blue{
        background-color: $blue;
    }

    &.yellow{
        background-color: $yellow;
    }

    &.purple{
        background-color: $purple;
    }

    .login-form{

        display: block;
        margin: 0 auto;
        padding: 20% 0 2% 0;
        text-align: center;    

        form{
            margin: auto;
            width: 40%;
        }

        .form-group{
            height: 1.75em;
            margin-bottom: 8%;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        input{

            border: none;
            -webkit-border-radius: 10em;
            -moz-border-radius: 10em;
            border-radius: 10em;
            height: 100%;
            outline: none;
            text-align: center;

            &.alert-error{
                border: 3px solid $black; 
            }

            &::placeholder{
                font-weight: 400;
                text-align: center;
            }

            &.input-small{
                width: $input-small;
            }

            &.input-medium{
                width: $input-medium;
            }

            &.input-big{
                width: $input-big;
                padding: 0 20% 0 20%;

            }

            &.center{
                margin-left: 25%;
            }
        }

        input[type="text"]{
            font-size: 1em;
            font-weight: 600;
            text-align: center;
        }
        
        input:focus{
            outline: none;
        }
        
        h4{
            color: $white;
            font-size: 2em;
            font-weight: 400;
        }

        .submit-button{

            background-color: transparent;
            border: 0.15em solid white;
            border-radius: 1em;
            cursor: pointer;
            display: block;
            margin: auto;
            padding: 0.2em 1em;
            width: max-content;
            text-align: center;

            h3{
                color: $white;
                font-weight: 500;
                margin: 0.1em;
                text-transform: uppercase;
            }

            &:hover{
                background-color: $red;
            }
        }
    }

    .login-errors{
        display: block;
        margin: auto;
        width: 50%;
    }
}