.archive{

    .archive-items{
        align-content: flex-start;
        display: grid;
        grid-template-columns: repeat(auto-fit, 32%);
        justify-content: space-between;
        width: 100%;
    }
    
    .archive-item{
        
        margin-bottom: 2em;
        
        .archive-item-image{
    
            background-color: transparent;
            cursor: pointer;
            padding: 1em;
    
            &.blue{
                @include gradientColor(left, $blue, $blue-highlight);
            }
        
            &.yellow{
                @include gradientColor(left, $yellow, $yellow-highlight);
            }
        
            &.red{
                @include gradientColor(left, $red, $red-highlight);
            }
        
            &.purple{
                @include gradientColor(left, $purple, $purple-highlight);
            }
        
            &.icons img{
                height: 15vh;
            }

            &.photos img{
                height: 35vh;
            }

            &.blog{
                display: flex;
                justify-content: space-between;

                .post-image img{
                    height: 35vh;
                }

                .post-resume h2{
                    color: $dark-grey;
                    font-size: 1.6em;
                }

                .post-resume h3{
                    color: $dark-grey;
                    font-size: 1.4em;
                }
            }
        }
    
        .archive-item-title{
    
            background-color: transparent;
            border: .15em solid #fff;
            border-radius: 2em;
            display: block;
            margin: auto;
            cursor: pointer;
            padding: .2em 1em;
            transition: border 0.3s;
            width: max-content;
    
            h2{
                color: $white;
                font-size: 1em;
                font-weight: 400;
                margin: 0;
                text-align: center;

                @include respond-to('lg'){
                    font-size: 1.6em;
                }
            }

            &:hover{
                background-color: $red;
            }
        }
    }
}
