.blog{

    width: 100%;
    
    .blog-item{
        
        display: flex;
        justify-content: space-between;
        margin: 5% 0;
        width: 100%;

        .post-image{

            img{
                border-radius: 50%;
                height: 35vh;

                @include respond-to('wsga'){
                    height: 30vh;
                }
            }
        } 

        &.left .post-image{
            text-align: left;
        }

        &.right .post-image{
            text-align: right;
        }

        .post-resume{

            width: 65%;

            @include respond-to('lg'){
                width: 70%;
            }
        
            h2{
                color: $dark-grey;
                cursor: pointer;
                font-size: 1.6em;

                @include respond-to('lg'){
                    font-size: 2em;
                }

                &:hover{
                    color: $red;
                }
            }
                        
            h3{
                color: $dark-grey;
                font-size: 1.2em;
                font-weight: 400;

                @include respond-to('lg'){
                    font-size: 1.5em;
                }
            }

            .post-button{

                background-color: transparent;
                border: .15em solid $dark-grey;
                border-radius: 2em;
                display: block;
                margin: auto;
                cursor: pointer;
                padding: .2em 1em;
                transition: border 0.3s;
                width: max-content;

                &:hover{
                    background-color: $red;

                    p{
                        color: $white;
                    }
                }

                p{
                    color: $dark-grey;
                    cursor: pointer;
                    font-family: $font-stack;
                    font-size: 1.2em;
                    font-weight: 500;
                    margin: 0;
                    text-align: center;

                    @include respond-to('lg'){
                        font-size: 1.6em;
                    }
                }
            }
        }
    }
}
