.gallery{
        
    align-content: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fit, 24%);
    justify-content: space-between;
    margin-top: 10vh;
    width: 100%;

    .image-viewer{

        display: none;
        top: 10vh;
        left: 15%;
        right: 15%;
        position: fixed;
        width: 70%;
        z-index: 6001;

        @include respond-to('lg'){
            top: 15vh;
            left: 27.5%;
            right: 27.5%;
            width: 45%;
        }

        &.show{
            @include fadeIn(0, 1s);
        }

        .image-view-controls-container{

            background-color: $white;
            display: flex;
            justify-content: space-between;
            height: 3em;
            width: 100%;

            .image-view-controls{

                margin: 1%;

                svg{
                    cursor: pointer;
                    height: 2em;
                    width: 2em;

                    path{
                        fill: $dark-grey;
                    }
                }
            }

            .image-view-close{

                margin: 1%;

                svg{
                    cursor: pointer;
                    height: 2em;
                    width: 2em;

                    path{
                        fill: $dark-grey;
                    }
                }
            }
        }
    }

    .preview-image:hover{
        cursor: pointer;
    }
}