.micro-featured{
    background-color: $medium-grey; 
    float: left;
    padding: 4em 0 5em 0;
}

.micro-featured-title{
    background-color: $blue;
    height: 20vh;
    z-index: $z-index-microfeatured-title;

    h2{
        color: $white;
        margin-left: $center;
        margin-top: 0;
        padding-top: 5vh;
        z-index: $z-index-microfeatured-title;
    }
}

.micro-featured-items{
    align-content: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fit, 32%);
    justify-content: space-between;
    width: 100%;
}

.micro-featured-item{

    margin-bottom: 2em;
    
    .micro-featured-item-image-container{

        display: flex;
        padding: 1em;

        &.blue{
            @include gradientColor(left, $blue, $blue-highlight);
        }
    
        &.yellow{
            @include gradientColor(left, $yellow, $yellow-highlight);
        }
    
        &.red{
            @include gradientColor(left, $red, $red-highlight);
        }
    
        &.purple{
            @include gradientColor(left, $purple, $purple-highlight);
        }

        .micro-featured-item-image{
            img{
                height: 15vh;
            }
        }
    
        .micro-featured-item-text{
            
            color: $white;
            margin-left: auto;

            h4{
                font-size: 1.5em;
                margin: 0;
                text-align: right;
            }

            h5{
                font-size: 1em;
                margin: 1em 0;
                text-align: right;
            }
        }
    }

    .micro-featured-item-title{

        background-color: $white;
        padding: 1em 0 1em 0;

        h2{
            color: $black;
            font-size: 1em;
            font-weight: 600;
            margin: 0;
            text-align: center;
        }
    }
}