$offset: 187;
$duration: 1.4s;

.spinner-container{
    
    display: none;

    &.active{
        display: block;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        position: fixed;
        top: 45vh;
        width: 5%;
        z-index: $z-index-spinner;
    
        .spinner {
            animation: rotator $duration linear infinite;
            height: 4em;
            width: 4em;
       
            .path {
               stroke-dasharray: $offset;
               stroke-dashoffset: 0;
               transform-origin: center;
               animation:
                   dash $duration ease-in-out infinite, 
                   colors ($duration*4) ease-in-out infinite;
           }    
       }
    }
}


@keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}

@keyframes colors {
	0% { stroke: $spinner-color; }
	25% { stroke: $spinner-color; }
	50% { stroke: $spinner-color; }
	75% { stroke: $spinner-color; }
    100% { stroke: $spinner-color; }
}

@keyframes dash {
    0% { stroke-dashoffset: $offset; }
    50% {
    stroke-dashoffset: $offset/4;
    transform:rotate(135deg);
    }
    100% {
    stroke-dashoffset: $offset;
    transform:rotate(450deg);
    }
}